@{
    ViewBag.Title = "Home Page";
}

<div>@ViewBag.WorkItems.Length Work Items.</div>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Created Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.WorkItems)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.CreatedDate</td>
            </tr>
        }
    </tbody>
</table>